In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline

In [2]:
df = pd.read_csv('AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatz.csv', delimiter=';')

In [3]:
df.head()

,OBJECTID,LAND,BEZ,LOR,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,3187,11,8,8010510.0,8100521.0,2020,1,11,4,2,...,1,0,0,1,0,1,"802599,5332","5821795,373","13,45500598","52,4623009"
1,3198,11,4,4041137.0,4400727.0,2020,1,2,3,2,...,0,0,0,1,0,1,"791264,2064","5824629,955","13,29111618","52,49387309"
2,3215,11,4,4041239.0,4400830.0,2020,1,7,1,3,...,0,0,0,0,1,1,"792294,8083","5823598,115","13,30534822","52,48407191"
3,3224,11,2,2040502.0,2400521.0,2020,1,22,6,2,...,1,0,0,0,0,0,"801024,2746","5827862,923","13,43737099","52,517556"
4,3241,11,4,4041137.0,4400727.0,2020,1,17,1,3,...,0,0,1,0,0,1,"791889,2861","5824003,006","13,29974796","52,48791866"

In [4]:
df.shape

(11810, 24)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11810 entries, 0 to 11809
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OBJECTID     11810 non-null  int64
 1   LAND         11810 non-null  int64
 2   BEZ          11810 non-null  int64
 3   LOR          11809 non-null  float64
 4   LOR_ab_2021  11809 non-null  float64
 5   UJAHR        11810 non-null  int64
 6   UMONAT       11810 non-null  int64
 7   USTUNDE      11810 non-null  int64
 8   UWOCHENTAG   11810 non-null  int64
 9   UKATEGORIE   11810 non-null  int64
 10  UART         11810 non-null  int64
 11  UTYP1        11810 non-null  int64
 12  ULICHTVERH   11810 non-null  int64
 13  IstRad       11810 non-null  int64
 14  IstPKW       11810 non-null  int64
 15  IstFuss      11810 non-null  int64
 16  IstKrad      11810 non-null  int64
 17  IstGkfz      11810 non-null  int64
 18  IstSonstige  11810 non-null  int64
 19  USTRZUSTAND  11810 non-null  int64
 20  LINREFX      11810 non-null  object
 21  LINREFY      11810 non-null  object
 22  XGCSWGS84    11810 non-null  object
 23  YGCSWGS84    11810 non-null  object
dtypes: float64(2), int64(18), object(4)
memory usage: 2.2+ MB

In [6]:
df.columns

Index(['OBJECTID', 'LAND', 'BEZ', 'LOR', 'LOR_ab_2021', 'UJAHR', 'UMONAT',
       'USTUNDE', 'UWOCHENTAG', 'UKATEGORIE', 'UART', 'UTYP1', 'ULICHTVERH',
       'IstRad', 'IstPKW', 'IstFuss', 'IstKrad', 'IstGkfz', 'IstSonstige',
       'USTRZUSTAND', 'LINREFX', 'LINREFY', 'XGCSWGS84', 'YGCSWGS84'],
      dtype='object')

In [7]:
df.rename(columns={'OBJECTID': 'ID',
                   'LAND': 'State',
                   'BEZ': 'District',
                   'LOR': 'LOR',
                   'LOR_ab_2021': 'LOR-2021',
                   'UJAHR': 'Year',
                   'UMONAT': 'Month',
                   'USTUNDE': 'Hour',
                   'UWOCHENTAG': 'Weekday',
                   'UKATEGORIE': 'Category',
                   'UART': 'Kind',
                   'UTYP1': 'Type',
                   'ULICHTVERH': 'Light',
                   'IstRad': 'Bike',
                   'IstPKW': 'Car',
                   'IstFuss': 'Pedestrian',
                   'IstKrad': 'Motorcycle',
                   'IstGkfz': 'Freight Vehicle',
                   'IstSonstige': 'Other',
                   'USTRZUSTAND': 'Street Condition',
                   'LINREFX': 'LINREFX',
                   'LINREFY': 'LINREFY',
                   'XGCSWGS84': 'Longitude',
                   'YGCSWGS84': 'Latitude'}, inplace = True)

In [8]:
df = df.drop('State', axis=1)

In [9]:
df.columns

Index(['ID', 'District', 'LOR', 'LOR-2021', 'Year', 'Month', 'Hour', 'Weekday',
       'Category', 'Kind', 'Type', 'Light', 'Bike', 'Car', 'Pedestrian',
       'Motorcycle', 'Freight Vehicle', 'Other', 'Street Condition', 'LINREFX',
       'LINREFY', 'Longitude', 'Latitude'],
      dtype='object')

In [10]:
df[['LINREFX', 'LINREFY', 'Longitude', 'Latitude']].head()

       LINREFX      LINREFY    Longitude     Latitude
0  802599,5332  5821795,373  13,45500598   52,4623009
1  791264,2064  5824629,955  13,29111618  52,49387309
2  792294,8083  5823598,115  13,30534822  52,48407191
3  801024,2746  5827862,923  13,43737099    52,517556
4  791889,2861  5824003,006  13,29974796  52,48791866

In [11]:
df['Longitude'] = df['Longitude'].apply(lambda x: float(x.replace(',', '.')))
df['Latitude'] = df['Latitude'].apply(lambda x: float(x.replace(',', '.')))
df['LINREFX'] = df['LINREFX'].apply(lambda x: float(x.replace(',', '.')))
df['LINREFY'] = df['LINREFY'].apply(lambda x: float(x.replace(',', '.')))

In [12]:
df.loc[df['LOR-2021'].isna()]

,ID,District,LOR,LOR-2021,Year,Month,Hour,Weekday,Category,Kind,...,Car,Pedestrian,Motorcycle,Freight Vehicle,Other,Street Condition,LINREFX,LINREFY,Longitude,Latitude
2715,136842,8,NaN,NaN,2020,2,16,5,3,5,...,1,0,0,0,0,0,802536.39,5816812.157,13.449569,52.417671

In [13]:
wd_map = {1 : 'Sunday', 
          2 : 'Monday',
          3 : 'Tuesday',
          4 : 'Wednesday',
          5 : 'Thursday',
          6 : 'Friday',
          7 : 'Saturday'}
df['Weekday'] = df['Weekday'].map(wd_map)

In [14]:
sev_map = {1 : 'Deadly', 
          2 : 'Severe',
          3 : 'Light'}
df['Category'] = df['Category'].map(sev_map)

In [15]:
light_map = {0: 'Day',
             1: 'Dusk/Dawn',
             2: 'Dark'}
df['Light'] = df['Light'].map(light_map)

In [16]:
kind_map = {1: 'Collision with approaching/stopping/stationary vehicle',
            2: 'Collision with vehicle ahead/waiting vehicle',
            3: 'Collision with side vehicle driving in same direction',
            4: 'Collision with oncoming vehicle',
            5: 'Collision with turning/crossing vehicle',
            6: 'Collision between vehicle and pedestrian',
            7: 'Impact with road obstacle',
            8: 'Left roadway to the right',
            9: 'Left roadway to the left',
            0: 'Other'}
df['Kind'] = df['Kind'].map(kind_map)

In [17]:
type_map = {1: 'Driving',
            2: 'Turning',
            3: 'Turning in/Crossing',
            4: 'Speeding',
            5: 'Idling traffic',
            6: 'Parallel traffic',
            7: 'Other'}
df['Type'] = df['Type'].map(type_map)

In [18]:
bike_map = {0: 'No bikes involved',
            1: 'Bike(s) involved'}
df['Bike'] = df['Bike'].map(bike_map)

In [19]:
car_map = {0: 'No cars involved',
           1: 'Car(s) involved'}
df['Car'] = df['Car'].map(car_map)

In [20]:
ped_map = {0: 'No pedestrians involved',
           1: 'Pedestrian(s) involved'}
df['Pedestrian'] = df['Pedestrian'].map(ped_map)

In [21]:
moto_map = {0: 'No motorcycles involved',
            1: 'Motorcycle(s) involved'}
df['Motorcycle'] = df['Motorcycle'].map(moto_map)

In [22]:
freight_map = {0: 'No freight vehicles involved',
               1: 'Freight vehicle(s) involved'}
df['Freight Vehicle'] = df['Freight Vehicle'].map(freight_map)

In [23]:
other_map = {0: 'No other means of transport involved',
             1: 'Other means of transport involved'}
df['Other'] = df['Other'].map(other_map)

In [24]:
street_map = {0: 'Dry',
              1: 'Wet/Damp/Slick',
              2: 'Icy'}
df['Street Condition'] = df['Street Condition'].map(street_map)

In [25]:
assert df['ID'].nunique()==df['ID'].shape[0]

In [26]:
check_nan = df.isnull().sum()
check_nan

ID                  0
District            0
LOR                 1
LOR-2021            1
Year                0
Month               0
Hour                0
Weekday             0
Category            0
Kind                0
Type                0
Light               0
Bike                0
Car                 0
Pedestrian          0
Motorcycle          0
Freight Vehicle     0
Other               0
Street Condition    0
LINREFX             0
LINREFY             0
Longitude           0
Latitude            0
dtype: int64

In [27]:
df.head()

,ID,District,LOR,LOR-2021,Year,Month,Hour,Weekday,Category,Kind,...,Car,Pedestrian,Motorcycle,Freight Vehicle,Other,Street Condition,LINREFX,LINREFY,Longitude,Latitude
0,3187,8,8010510.0,8100521.0,2020,1,11,Wednesday,Severe,Collision with side vehicle driving in same di...,...,Car(s) involved,No pedestrians involved,No motorcycles involved,Freight vehicle(s) involved,No other means of transport involved,Wet/Damp/Slick,802599.5332,5821795.373,13.455006,52.462301
1,3198,4,4041137.0,4400727.0,2020,1,2,Tuesday,Severe,Left roadway to the left,...,No cars involved,No pedestrians involved,No motorcycles involved,Freight vehicle(s) involved,No other means of transport involved,Wet/Damp/Slick,791264.2064,5824629.955,13.291116,52.493873
2,3215,4,4041239.0,4400830.0,2020,1,7,Sunday,Light,Other,...,No cars involved,No pedestrians involved,No motorcycles involved,No freight vehicles involved,Other means of transport involved,Wet/Damp/Slick,792294.8083,5823598.115,13.305348,52.484072
3,3224,2,2040502.0,2400521.0,2020,1,22,Friday,Severe,Collision with approaching/stopping/stationary...,...,Car(s) involved,No pedestrians involved,No motorcycles involved,No freight vehicles involved,No other means of transport involved,Dry,801024.2746,5827862.923,13.437371,52.517556
4,3241,4,4041137.0,4400727.0,2020,1,17,Sunday,Light,Other,...,No cars involved,No pedestrians involved,Motorcycle(s) involved,No freight vehicles involved,No other means of transport involved,Wet/Damp/Slick,791889.2861,5824003.006,13.299748,52.487919

In [29]:
# df.to_csv('berlin_accidents_2020.csv', sep=';')